<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html">
    <!-- <link th:href="@{/static/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" /-->
    <link rel="stylesheet" type="text/css" href="/css/profile.css"/></link>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/></link>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.css"/></link>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-reboot.css"/></link>
    <link rel="stylesheet" type="text/css" href="/css/estilos.css"/></link>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:replace="frags/barraSuperior :: barraSuperior"></div>
<h1> Soy Admin! </h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4>(👤) Users Details</h4>

            <table class="table table-bordered">

                <thead>

                <th><input type="checkbox" id="checkall" /></th>
                <th>User name</th>
                <th>password</th>
                <th>Roles</th>
                <th>ELO</th>
                <th>Matches won</th>
                <th>Matches played</th>
                <th>Coins</th>

                <th>Save</th>
                <th>Disable</th>
                </thead>
                <tbody>

                <tr th:each="u: ${users}">
                    <form  class="form-editInfo" method="post" th:action="@{/admin/edit(id=${u.id})}" th:object="${user}">
                        <td><input type="checkbox" class="checkthis" /></td>

                        <td><input name="username"  th:href="@{/user/{id}(id=${u.id})}" th:value="${u.username}"></input></td>
                        <td><input type="password" name="password"  th:href="@{/user/{id}(id=${u.id})}" th:value="${u.password}"></input></td><td><input name="roles"  th:href="@{/user/{id}(id=${u.id})}" th:value="${u.roles}"></input></td>
                        <td><input type="number" name="elo"   th:href="@{/user/{id}(id=${u.id})}" th:value="${u.elo}"></input></td>
                        <td><input type="number" name="matches_won"   th:href="@{/user/{id}(id=${u.id})}" th:value="${u.matches_won}"></input></td>
                        <td><input type="number" name="matches_played"   th:href="@{/user/{id}(id=${u.id})}" th:value="${u.matches_played}"></input></td>
                        <td><input type="number" name="coins"   th:href="@{/user/{id}(id=${u.id})}" th:value="${u.coins}"></input></td>
                        <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button type="submit" class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" value="edit" name="edit"><span class="glyphicon glyphicon-floppy-disk">💾</span></button></p></td>
                        <td>
                            <!--<form method="post" th:formaction="@{/admin/toggleuser(id=${u.id})}">  </form> -->
                            <button th:text="${u.enabled eq 1 ? '🔓 → 🔒' : '🔒 → 🔓'}" type="submit" value="diable" name="toggleuser">🗑</button>

                        </td>
                    </form>
                </tr>


                </tbody>

            </table>
        </div>

    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Room code</th>
                    <th scope="col">Player White</th>
                    <th scope="col">Player Black</th>
                    <th scope="col">Max participants</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">XXXXXXX</th>
                    <form id="createRoomForm" name="createRoomForm">
                        <td>Player white</td>
                        <td>Player Black</td>
                        <td><input type="number" value="2" /></td>
                        <td>
                            <button type="submit" class="btn btn-success create-room-button"><i class="fa fa-chess-pawn"></i>Create</button>
                    </form>




                    </td>

                </tr>
                <tr th:each="r: ${rooms}">
                    <th scope="row" th:value="${r.getCode()}" th:text="${r.getCode()}"></th>
                    <!-- <td th:text="${r.getPlayer1().getUsername()}"></td>
                     th:text="${r.getPlayer2().getUsername()} ?: 'default value'"-->
                    <!--<td th:unless="${r.getPlayer2() eq null}"> wait</td>-->
                    <td> <span ></span>waiting</td>
                    <td> <span ></span>waiting</td>
                    <td><span th:text="${r.getCapacity()}" /> / <span th:text="${r.getNumParticipants()}" /></td>
                    <td>
                        <form id="roomCodeForm" name="roomCodeForm">
                            <input type="hidden" id="roomcode"  autocomplete="off" class="form-control" />
                            <button type="submit" class="btn btn-primary"><i class="far fa-eye"></i>Join</button>
                        </form>
                        <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i>Drop(ADMIN)</button>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<footer th:replace="frags/footer.html">
    <script src="js/libs/jquery-3.4.1.min.js"> </script>
</footer>

</body>
</html>