<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title> TurboChess</title>

    <link rel="stylesheet" type="text/css" href="/css/profile.css"/></link>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/></link>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.css"/></link>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-reboot.css"/></link>
    <link rel="stylesheet" type="text/css" href="/css/estilos.css"/></link>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/></link>
    <!--<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome-all.min.css"/></link>-->
    <link rel="icon" href="img/chess.jpg" type="image/x-icon" />

    <script type="text/javascript">
        const config = {
            socketUrl: "[[${session.ws}?:'']]",	// vacío indica falso
            rootUrl: "[[${session.ws}?@{/}:'']]",
            csrf: {
                name: "[[${_csrf.parameterName}]]",
                value: "[[${_csrf.token}]]"
            },
            admin: [[${session.u != null && session.u.hasRole('ADMIN')}?true:false]],
            userId: [[${session.u != null}?${session.u.id}:-1]]
        };
    </script>
    </th:block>
</head>

<body>
<div th:replace="frags/barraSuperior :: barraSuperior"></div>


<div class="detailscontainer">
    <div class="row">
        <div class="col-12">
            <h4>(👤) Users Details</h4>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th><input type="checkbox" id="checkall" /></th>
                    <th>User name</th>
                    <th>password</th>
                    <th>Roles</th>
                    <th>ELO</th>
                    <th>Matches won</th>
                    <th>Matches played</th>
                    <th>Coins</th>
                    <th>Save</th>
                    <th>Disable</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="u: ${users}">
                    <form  class="form-editInfo" method="post" th:action="@{/admin/edit(id=${u.id})}" th:object="${user}">
                        <td><input type="checkbox" class="checkthis" /></td>

                        <td><input name="username"  th:href="@{/user/{id}(id=${u.id})}" th:value="${u.username}"></input></td>
                        <td><input type="password" name="password"  th:href="@{/user/{id}(id=${u.id})}" th:value="${u.password}"></input></td><td><input name="roles"  th:href="@{/user/{id}(id=${u.id})}" th:value="${u.roles}"></input></td>
                        <td><input type="number" name="elo"   th:href="@{/user/{id}(id=${u.id})}" th:value="${u.elo}"></input></td>
                        <td><input type="number" name="matches_won"   th:href="@{/user/{id}(id=${u.id})}" th:value="${u.matches_won}"></input></td>
                        <td><input type="number" name="matches_played"   th:href="@{/user/{id}(id=${u.id})}" th:value="${u.matches_played}"></input></td>
                        <td><input type="number" name="coins"   th:href="@{/user/{id}(id=${u.id})}" th:value="${u.coins}"></input></td>
                        <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button type="submit" class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" value="edit" name="edit"><span class="glyphicon glyphicon-floppy-disk">💾</span></button></p></td>
                        <td>
                            <!--<form method="post" th:formaction="@{/admin/toggleuser(id=${u.id})}">  </form> -->
                            <button th:text="${u.enabled eq 1 ? '🔓 → 🔒' : '🔒 → 🔓'}" type="submit" value="diable" name="toggleuser">🗑</button>

                        </td>
                    </form>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="Messagescontainer">
    <h4>(✉) Messages from users to admin</h4>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">User</th>
                    <th scope="col">Message</th>

                </tr>
                </thead>
                <tbody>

                <tr th:each="r: ${messages}">
                    <th scope="row" th:value="${r.getSendTime()}" th:text="${r.getSendTime()}"></th>
                    <!-- <td th:text="${r.getPlayer1().getUsername()}"></td>
                     th:text="${r.getPlayer2().getUsername()} ?: 'default value'"-->
                    <!--<td th:unless="${r.getPlayer2() eq null}"> wait</td>-->
                    <td th:text="${r.getUsername()}"></td>
                    <td th:text="${r.getMessage()}"></td>

                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<footer th:replace="frags/footer.html">
    <script src="js/libs/jquery-3.4.1.min.js"> </script>
    <script src="js/libs/chessboard-1.0.0.min.js"></script>

    <script src="js/chess.js"></script>
    <script th:src="@{/js/app.js}" src="js/app.js" type="text/javascript"></script>

</footer>

</body>
</html>
