<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="head.html">
        <!-- CSS only -->

        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/></link>
    </head>
    <body>
    <div th:replace="frags/barraSuperior :: barraSuperior"></div>
    <div class="admMessage" th:if="${session.u}">
        <div class="alert alert-danger">
            <p th:text="${msg}"></p>
        </div>
        <form method="post" th:action="@{/send_to_admin}">
            <div class="form-outline w-50 user-box">
                <h2>Do you have something to say to the Admin?</h2>
                <label class="form-label" for="textArea"></label>
                <textarea th:name="adminMsg" class="form-control" id="textArea" rows="13" cols="50"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mb-4">
                Send
            </button>
        </form>
    </div>
    <div th:replace="frags/barraLateral :: barraLateral"></div>
    <footer th:replace="frags/footer.html">
    </footer>


</body>
</html>

