<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html"> </head>
  <body>
    <div th:replace="frags/barraSuperior :: barraSuperior"></div>
    <div th:if="${not #lists.isEmpty(search)}">
        <h2>Search Results</h2>
       <ul>
           <li th:each="result : ${search}">

            <a   th:href="@{user/{id}(id=${result.id}) }" class="enlacePersona">
                <h2 th:text="${result.username}"></h2>
            </a>
           </li>
       </ul>
    </div>
    <div th:if="${ #lists.isEmpty(search)}">
        <h2>There isn't exists users with that name</h2>
    </div>
    <footer th:replace="frags/footer.html"> footer</footer>
</body></html>