<!DOCTYPE html>
<html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html"> </head>

<body>
    <header>
        <div th:fragment="barraSuperior">
            <ul class="upBar">
                <li class="upBar">
                   <a class="upBar" href="/">Home</a> 
                </li>
                <li class="upBar">
                    <a class="upBar" href="/ranks">Rankings</a> 
                </li>
                <li class="upBar">
                    <a class="upBar" href="/spect">Spectate</a> 
                </li>
                <li class="upBar">
                    <a class="upBar" href="/profile">Profile</a> 
                </li>
                <li class="upBar">
                    <a class="upBar" href="/game">Game</a> 
                </li>
                <li class="upBar">
                    <a class="upBar" href="/login">Login/Logout</a> 
                </li>
                <li class="upBar">
                    <a class="upBar" href="/register">Sign Up</a> 
                </li>
                <li class="upBar">
                    <a class="upBar" href="/mychat">Chat</a>
                </li>
                 <input type="text" placeholder="Player Username.." name="search">
                 <a class="search" href="othersProfile">Search</a>
            
                    
            </ul>
       
        </div>
    </header>
</body>

</html>
