<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>

<body>
    <header>
        <div th:fragment="barraSuperior">
            <ul class="upBar">
                <li class="upBar">
                   <a class="upBar" href="/">Home</a> 
                </li>
                <li class="upBar">
                    <a class="upBar" href="/ranks">Rankings</a> 
                </li>
                <li class="upBar">
                    <a class="upBar" href="/spect">Spectate</a> 
                </li>
                <li class="upBar">
                    <a class="upBar" href="/profile">Profile</a> 
                </li>
                
                 <input type="text" placeholder="Player Username.." name="search">
                 <a class="search" href="othersProfile">Search</a>
            
                    
            </ul>
       
        </div>
    </header>
</body>

</html>