<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html"> </head>


<body>
    <header>
        <div th:fragment="barraSuperior">
            <ul class="upBar">
                <li class="upBar">
                   <a class="upBar" href="/">Home</a> 
                </li>
                <li class="upBar">
                    <a class="upBar" href="/ranks">Rankings</a> 
                </li>
                <li class="upBar">
                    <a class="upBar" href="/spect">Spectate</a> 
                </li>
                <li class="upBar">
                    <a class="upBar" href="/profile">Profile</a> 
                </li>
                <li class="upBar">
                    <a class="upBar" href="/login">Login/Logout</a> 
                </li>
                <span th:text="#{lang.change}"></span>:
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/(lang=en)}">English</a>
                    <a class="dropdown-item" th:href="@{/(lang=es)}">Spanish</a>
                </div>
                 <input type="text" placeholder="Player Username.." name="search">
                 <a class="search" href="othersProfile">Search</a>
                    

            </ul>
       
        </div>
    </header>
</body>

</html>