<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>

<body>
    <header>
        <div th:fragment="fotoPerfil" class="fotoPerfil">
            <img src="images/chess.png" alt="Imagen_Chess" width="50%" height="50%">
            <!--wiki commons https://commons.wikimedia.org/w/index.php?search=chess&title=Special:Search&go=Go&ns0=1&ns6=1&ns12=1&ns14=1&ns100=1&ns106=1&searchToken=9bum721acn8h5drg0bwnxa8nr#%2Fmedia%2FFile%3ADeus_Chess_game.png-->
            <p>editar foto(si es cuanta ajena no se muestra esta opcion)</p>
        </div>
    </header>
</body>

</html>