ul.upBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li.upBar {
    float: left;
}

li a.upBar {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a.upBar:hover {
    background-color: #111111;
}

.barraLateral {
    height: 100%;
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 8px;
    right: 0px;
    background-color: rgb(43, 42, 42);
    overflow-x: hidden;
    padding-top: 0px;
  }
  
  .barraLateral a.friendBar {
    padding: 30px 8px 30px 16px;
    text-decoration: none;
    text-align: center;
    top: 0px;
    font-size: 30px;
    color: #252525;
    background-color: rgb(116, 105, 105);
    display: block;
    font-family: "Arial";
  }

  .barraLateral a {
    padding: 12px 8px 12px 10px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    font-family: "Arial";
  }
  
  .barraLateral a:hover {
    color: #f1f1f1;
  }

  .partidaImg {
    padding: 16px 0px 10px 0px;
    position: fixed;
    right: 210px;
  }

  .partidaSpectImg {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 210px;
  }

  .chat {
    padding: 30px 0px 30px 0px;
    height: 40%;
    width: 23%;
    text-decoration: none;
    text-align: center;
    position: fixed;
    background-color: #81818165;
    left: 10px;
    bottom: 0;
  }
  .chat a.chatBar{
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    text-align: center;
    position: relative;
    display: block;
    text-align: center;
    top: -30px;
    background-color: #33333365;
  }

  .bloqueEspc {
    padding: 30px 0px 30px 0px;
    height: 30%;
    width: 23%;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    position: fixed;
    background-color: #0a86da65;
    left: 10px;
    top: 75px;
  }

  .chatPartida {

    height: 70%;
    width: 44%;
    position: absolute;
    top: 0;
    bottom: 0;
    left:  20px;
    margin: auto;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    background-color: #097691;
  }
  .chatPartida span {
    top: 50%;
    bottom: 50%;
    margin: auto;
    position: relative;
  }
  .footer {
    position: absolute;
    bottom: 5px;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
  }