<!DOCTYPE html>
<html>
<head th:replace="head.html"> </head>
    <body>
        <div th:replace="frags/barraSuperior :: barraSuperior"></div>
        <div th:replace="frags/barraLateral :: barraLateral"></div>
        <img class="partidaImg" border="0" alt="partida" th:src="@{/images/partidaPlaceholder.png}" width="65%" height="90%">
        <div th:replace="frags/chat :: chat"></div>
        <div th:replace="frags/bloqueEspectadores :: bloqueEspc"></div>
        <footer th:replace="frags/footer.html"> footer</footer>
    </body>
</html>