<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title> TurboChess</title>
    <link rel="stylesheet" type="text/css" href="/css/estilos.css"/></link>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/></link>
    <link rel="stylesheet" type="text/css" href="/css/profile.css"/></link>
    <link rel="icon" href="img/chess.jpg" type="image/x-icon" />
    <script type="text/javascript">
        const config = {
            socketUrl: "[[${session.ws}?:'']]",	// vacío indica falso
            rootUrl: "[[${session.ws}?@{/}:'']]",
            csrf: {
                name: "[[${_csrf.parameterName}]]",
                value: "[[${_csrf.token}]]"
            },
            admin: [[${session.u != null && session.u.hasRole('ADMIN')}?true:false]],
            userId: [[${session.u != null}?${session.u.id}:-1]]
        };
    </script>
    <script th:src="@{/js/stomp.js}" src="js/stomp.js" type="text/javascript"></script>
    <script th:src="@{/js/iwclient.js}" src="js/iwclient.js" type="text/javascript"></script>
    </th:block>
</head>
</html>
