<head>
	<title>TurboChess</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="static/imXages/icons/favicon.ico"/>
<!--===============================================================================================-->

	<link rel="stylesheet" type="text/css" href="static/css/estilos.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
<!--===============================================================================================-->
	<style>
		.size-font{
			font-size:12px;
		}
	</style>
	<div class="menu">
		<a href="#" > Principal </a>
        <a href="#" > Contartar con admin </a>
        <a href="#" > Login</a>
        <a href="#" > About us</a>
    </div>
    <div class="cabeceraDatosUsuario">
        <div class="cabeceraImagenPerfil">
          
            <a href="/my_profile">
                <img src="/imagen/<%=usr.email%>" alt="Imagen de perfil" class="cabeceraFotoPerfil">
            </a>
         
        </div>
        <div class="elo"> ELO <p class="elo"></div>

        <div class="nombreUsuario">
            <p class="usuario textoCabecera">   nombre usuario  </p>
        </div>
        <div class="botonCerrar">
            <a href="/desconectar" class="cerrarSesion textoCabecera">Desconectar</a>
        </div>
    </div>
	


</head>