<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title> TurboChess</title>

    <link rel="stylesheet" type="text/css" href="/css/profile.css"/></link>
    <link rel="stylesheet" type="text/css" href="/css/estilos.css"/></link>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/></link>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/></link>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.css"/></link>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-reboot.css"/></link>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome-all.min.css"/></link>-->
    <link rel="icon" href="img/chess.jpg" type="image/x-icon" />
    <link rel="stylesheet"  href="css/chessboard-1.0.0.min.css">

    <script th:inline="javascript">
    /*<![CDATA[*/
        var username = /*[[${username}]]*/ 'default';
    /*]]>*/
    </script>
    <script src="js/libs/jquery-3.4.1.min.js"> </script>
    <script src="js/libs/chessboard-1.0.0.min.js"></script>
    <script src="js/chess.js"></script>
    <script th:src="@{/js/history.js}" src="js/history.js" type="text/javascript"></script>


</head>
<body>
<div th:replace="frags/barraSuperior :: barraSuperior"></div>

<div class="todo">
<div class="historialContainer">
    <div class="row">
        <div class="col-12">
            <table id="games-table" class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Whites</th>
                        <th scope="col">Blacks</th>
                        <th scope="col">Winner</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each= "game : ${games}" >
                        <td th:text="${game.getEndTime()}"></td>
                        <td th:text="${game.whites.getUsername()}"></td>
                        <td th:text="${game.blacks.getUsername()}"></td>
                        <td th:text="${game.getVictor()}"></td>
<!--                        <td th:text="Replay" th:onclick="'foo(\'' + ${game.getMoves()} + '\');'"></td>-->
                        <td  style="cursor: pointer" th:attr="onclick='showBoard(\'' + ${game.getMoves()}+'\')'"><i style="font-size:24px" class="fa" aria-placeholder="play">&#xf04b;</i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="board hidden">
        <div id="myBoard" style="width: 300px height: 300px"></div>
    </div>
</div>


<div class="buttonsViewGame">
    <button type="button" id="previous-turn" class="btn btn-secondary btn-sm" onclick="handleBackButton()">
        <i style="font-size:24px" class="fa" aria-placeholder="step backward">&#xf048;</i>
    </button>
    <button type="button" id="play-payse" class="btn btn-secondary btn-sm" onclick="handlePlayPauseButton()">
        <i style="font-size:24px" class="fa" aria-placeholder="play">&#xf04b;</i>
    </button>
    <button type="button" id="next-turn" class="btn btn-secondary btn-sm" onclick="handleForwardButton()">
        <i class="fa fa-step-forward" style="font-size:24px" aria-placeholder="step forward"></i>
    </button>
</div>

</div>
<footer th:replace="frags/footer.html">
</footer>

    </body>
</html>

