<!DOCTYPE html>
<html>
    <html lang="es" xmlns:th="http://www.thymeleaf.org"></html>
    <head th:replace="head.html"> </head>    
    <body>
    <div th:replace="frags/barraSuperior :: barraSuperior"></div>
    <div class= Inicio-menu>
        <dl class="Inicio-menu">
            <dt class="Inicio-menu">
               <a class="button" href="/game" th:text="#{Play.play}" ></a> 
            </dt>
            <dt class="Inicio-menu">
                <a class="button" href="/game" th:text="#{Play.ranked}" ></a> 
            </dt>
            <dt class="Inicio-menu">
                <a class="button" href="/game" th:text="#{Play.private}" ></a> 
            </dt>
            <dt class="Inicio-menu">
                <a class="button" href="/spect" th:text="#{Play.spect}" ></a> 
            </dt>         
        </dl>
    </div>
    <div th:replace="frags/barraLateral :: barraLateral"></div>
    <div th:replace="frags/chat :: chat"></div>
    <footer th:replace="frags/footer.html"> </footer>
</body>
</html>

