<!DOCTYPE html>

<html>
    <head th:replace="head.html"> </head>
    <body>
    <div th:replace="frags/barraSuperior :: barraSuperior"></div>
    <div class= Inicio-menu>
        <dl class="Inicio-menu">
            <dt class="Inicio-menu">
               <a class="button" href="/game" >Play online</a> 
            </dt>
            <dt class="Inicio-menu">
                <a class="button" href="/game" >Play Ranked</a> 
            </dt>
            <dt class="Inicio-menu">
                <a class="button" href="/game" >Play private game</a> 
            </dt>
            <dt class="Inicio-menu">
                <a class="button" href="/spect" >Spect</a> 
            </dt>         
        </dl>
    </div>
    <div th:replace="frags/barraLateral :: barraLateral"></div>
    <div th:replace="frags/chat :: chat"></div>
    <footer th:replace="frags/footer.html"> </footer>
</body>
</html>

