<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html"> </head>

<body>
    <div class= Inicio-menu>
    <button> Jugar Online </button>
    <button> Jugar Ranked </button>
    <button> Jugar Partida privada </button>
    <button> Modo espectador </button>
</div>
    <div th:replace="barraLateral.html"> barra lateral </div>
    <div th:replace="chat.html"> Chat </div>
    <footer th:replace="footer.html"> footer</footer>
</body>
</html>

