<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html"> </head>
  <body>
    <div th:replace="frags/barraSuperior :: barraSuperior"></div>

    <div class="login-box">
        <h2>Login</h2>
        <form class="form-signin" method="post" th:action="@{/login}">
            <div class="user-box">
                <input type="text" id="username" name="username"
                       class="form-control" required="required">
                <label>Username</label>
            </div>
            <div class="user-box">
                <input type="password" id="password" name="password"
                       class="form-control" required="required">
                <label>Password</label>
            </div>

            <button class="loginButton" id="loginButton"  type="submit">
                Sign in</button>
        </form>
    </div>
        </form>
    </div>
<footer th:replace="frags/footer.html"> footer</footer>
</body></html>