<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html"> </head>
  <body>
    <div th:replace="frags/barraSuperior :: barraSuperior"></div>
     <div class="container">
      <form class="form-signin" method="post" th:action="@{/login}">
        <h2 class="form-signin-heading">Please log in</h2>
        <p>
          <label for="username" class="sr-only">Username</label>
          <input type="text" id="username" name="username" 
            class="form-control" placeholder="Username" required="required"></input>
        </p>
        <p>
          <label for="password" class="sr-only">Password</label>
          <input type="password" id="password" name="password" 
            class="form-control" placeholder="Password" required="required"></input>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
     </div>
<footer th:replace="frags/footer.html"> footer</footer>
</body></html>