<!DOCTYPE html>
<html>
<head th:replace="head.html"> </head>

    <body>

        <div th:replace="frags/barraSuperior :: barraSuperior"></div>


        <div id="card">

            <h1 th:text=" ${user.username}"> </h1>
            <div class="image-crop">
                <!-- <img th:src="@{/user/{id}/photo(id=${user.id})}"  class="imagenPerfil">-->
                <img id="avatar" src="http://pngimg.com/uploads/simpsons/simpsons_PNG95.png"></img>
            </div>

            <div id="stats">
                <div class="col">
                    <p th:text="${user.matches_won}"class="stat">108</p>
                    <p class="label">Matches won</p>
                </div>
                <div class="col">
                    <p th:text="${user.matches_played}"class="stat">457</p>
                    <p class="label">Matches played</p>
                </div>
                <div class="col">
                    <p  th:text="${user.elo}"  class="stat">229</p>
                    <p class="label" >ELO</p>
                </div>
            </div>
            <div id="buttons">
                <button th:unless="(${session.u.id} eq ${user.id}) or ${session.u.hasRole('ADMIN')}">Follow</button>
                <button th:if="(${session.u.id} eq ${user.id}) or ${session.u.hasRole('ADMIN')}" id="msg">Edit</button>
            </div>

        <footer th:replace="frags/footer.html"> footer</footer>
    </body>
</html>