<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="head.html"> </head>

    <body>

        <div th:replace="frags/barraSuperior :: barraSuperior"></div>


        <div id="card">

            <h1 ><span th:text="${user.username}">Pepe</span> </h1>
            <div class="image-crop">
                <!-- <img th:src="@{/user/{id}/photo(id=${user.id})}"  class="imagenPerfil">-->
                <img id="avatar" src="http://pngimg.com/uploads/simpsons/simpsons_PNG95.png"></img>
            </div>

            <div id="stats">
                <div class="col">
                    <p th:text="${user.matches_won}"class="stat">108</p>
                    <p class="label">Matches won</p>
                </div>
                <div class="col">
                    <p th:text="${user.matches_played}"class="stat">457</p>
                    <p class="label">Matches played</p>
                </div>
                <div class="col">
                    <p  th:text="${user.elo}"  class="stat">229</p>
                    <p class="label" >ELO</p>
                </div>
            </div>
            <div id="buttons">
                <div th:unless="(${session.u.id} eq ${user.id}) or ${session.u.hasRole('ADMIN')}">
                    <form th:action="@{/requestFriendship}" method="post">
                        <input type="hidden" name="userId" th:value="${user.id}">
                        <button th:unless= "(${request} or ${isFriend})" type="submit" value="Request friendship"> Send Request </button>
                    </form>
                    <button th:if="(${#strings.equals( request, 'sender')} and ${isFriend eq null}) " value="Request friendship"> Request sended </button>
                    <form th:if="${#strings.equals( request, 'receiver')} " th:action="@{/answerFriendshipRequest}" method="post">
                        <input type="hidden" name="requestId" th:value="${user.id}">
                        <button type="submit" name="action" value="Accept"> Accept</button>
                        <button type="submit" name="action" value="Decline">Decline</button>
                    </form>
                </div>
                <button th:if="(${session.u.id} eq ${user.id}) or ${session.u.hasRole('ADMIN')}" id="msg">Edit</button>

            </div>

        <footer th:replace="frags/footer.html"> footer</footer>
    </body>
</html>